<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head Coaches</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/teams">View Teams</a>
    <a href="/players">View Players</a>
    <a href="/coaches">View Head Coaches</a>
    <a href="/trainers">View Trainers</a>
    <a href="/stadiums">View Stadiums</a>
    <a href="/players_trainers">View Players-Trainers</a>
    <h1>Coaches</h1>
    <p>
        This page will allow you to view, update or delete the coaches.
    </p>

    <div>
        <table border="1" class="searchable sortable">
            <caption>Coaches</caption>
            <thead>
                <tr>
                    <th>Coach ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button">Delete Coach</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Add a New Coach</h2>
        <form>
            <fieldset>
                <legend>New Coach</legend>
                <p>
                    <label>
                        First Name:
                        <input type="text" name="first_name" size="30" maxlength="50">
                    </label>
                </p>
                <p>
                    <label>
                        Last Name:
                        <input type="text" name="last_name" size="30" maxlength="50">
                    </label>
                </p>
                <p>
                    <label for="teams">Choose a team:</label>
                        <select name="teams" id="teams">
                            <option value="Raptors">Raptors</option>
                            <option value="Nets">Nets</option>
                            <option value="Lakers">Lakers</option>
                            <option value="Spurs">Spurs</option>
                        </select>
                </p>
                <p>
                    <button type="button">Add Coach</button>
                </p>
            </fieldset>
        </form>
    </div>
    <div>
        <h2>Update a Coach</h2>
        <form>
            <fieldset>
                <legend>Update Coach</legend>
                <p>
                    <label>
                        First Name:
                        <input type="text" name="first_name" size="30" maxlength="50">
                    </label>
                </p>
                <p>
                    <label>
                        Last Name:
                        <input type="text" name="last_name" size="30" maxlength="50">
                    </label>
                </p>
                <p>
                    <label for="teams">Choose a team:</label>
                        <select name="teams" id="teamsUpdate">
                            <option value="Raptors">Raptors</option>
                            <option value="Nets">Nets</option>
                            <option value="Lakers">Lakers</option>
                            <option value="Spurs">Spurs</option>
                        </select>
                </p>
                <p>
                    <button type="button">Update Coach</button>
                </p>
            </fieldset>
        </form>
    </div>
</body>
</html>
