
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Database Manager</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/teams">View Teams</a>
    <a href="/players">View Players</a>
    <a href="/coaches">View Head Coaches</a>
    <a href="/trainers">View Trainers</a>
    <a href="/stadiums">View Stadiums</a>
    <a href="/players_trainers">View Players-Trainers</a>
    <h1>NBA Database Manager</h1>
    <p>
        Welcome to the NBA Database Manager's Homepage. 
        This website allows you to update NBA teams, players, head coaches, 
        trainers and stadiums.
    </p>
</body>

</html>
